# Ignore hidden files except the .gitignore
.*
!.gitignore

# Ignore virtual environments
*env

# Ignore precompiled bytecode
*.pyc

# Ignore JSON configuration files
*.json

# Ignore dummy files
foo*

# Ignore built artifacts
build*

# Ignore sample configuration YML files
lab_*.yml
